<%- include('./layouts/header') %>
<h1>Forgot Password</h1>
<form action="/auth/forgot-password" method="post" class="lg-form">
    <div>
        <label for="email">Email/Username</label>
        <input type="email" name="email" id="email" />
      </div>
            <div>
        <input type="submit" value="Submit" />
        </div>
    </form>
<%- include('./layouts/footer') %>