<%- include('./layouts/header') %>

<h1 class="title">Welcome to Watch Shop</h1>


<h1>Serial Number verification</h1>
<form action="/" method="post" class="lg-form">
  <div>
    <label for="serialnumber">Serial Number</label>
    <input type="serialnumber" name="serialnumber" id="serialnumber" />
  </div>
  <div>
    <input type="submit" value="Check" />
  </div>
</form>
<br/>


<%- include('./layouts/footer') %>