<%- include('./layouts/header') %>

<h1>Register</h1>
<form action="/retailer/register-customer" method="post" class="lg-form" enctype="multipart/form-data">
  <div>
    <label for="name">Username</label>
    <input
      type="text"
      name="name"
      id="name"
    />
  </div>
  <div>
    <label for="email">Email</label>
    <input
      type="text"
      name="email"
      id="email"
      value="<%= locals.email ? email : '' %>"
    />
  </div>
  <div>
    <label for="image">Image</label>
    <input
      type="file"
      name="image"
      id="image"
    />
  </div>
  <div>
    <label for="startdate">Date</label>
    <input
      type="date"
      name="startdate"
      id="startdate"
    />
  </div>
  <div>
    <label for="password">Password</label>
    <input type="password" name="password" id="password" />
  </div>
  <div>
    <label for="password2">Confirm password</label>
    <input type="password" name="password2" id="password2" />
  </div>
  <div>
    <input type="submit" value="Register" />
  </div>
</form>
<div>
</div>
<br />
<%- include('./layouts/footer') %>