<%- include('./layouts/header') %>
<h1>Reset Password</h1>
<form action="" method="post" class="lg-form">
    <div>
        <label for="password">Password</label>
        <input type="password" name="password" id="password" />
    </div>
    <div>
        <input type="submit" value="Reset Password" />
    </div>
    </form>
<%- include('./layouts/footer') %>